---
import Navbar from '@/components/Navbar.astro';
import Footer from '@/components/Footer.astro';
import { ClientRouter } from 'astro:transitions';
import { Toaster } from '@/components/ui/toaster';
import '@/styles/globals.css';

interface Props {
  title?: string;
  description?: string;
}

const { 
  title = "Stefano D'Ambrosio - Portfolio",
  description = "Portfolio website featuring projects, technologies, and contact information for Stefano D'Ambrosio.", 
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/logo.png" />
    <meta name="description" content={description} />
    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/sprites/astro.svg">
    <link rel="icon" type="image/png" sizes="32x32" href="/sprites/astro.svg">
    <link rel="icon" type="image/png" sizes="16x16" href="/sprites/astro.svg">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/sprites/astro.svg" color="#000000">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="theme-color" content="#000000">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap" rel="stylesheet">
    <ClientRouter />
  </head>
  <body>
    <Navbar />
    <main>
      <slot />
    </main>
    <Footer />
    <Toaster client:load />
  </body>
</html>
